SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# PostgreSQL
DB_NAME=thesis_repo
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Translation provider
TRANSLATION_PROVIDER=huggingface
TRANSLATION_FALLBACK_PROVIDER=google
HF_TRANSLATION_DEVICE=cpu
HF_TRANSLATION_CACHE_DIR=./hf_models
HF_TRANSLATION_CHUNK_SIZE=1400
HF_TRANSLATION_MODEL_EN_FIL=Helsinki-NLP/opus-mt-en-tl
HF_TRANSLATION_MODEL_FIL_EN=Helsinki-NLP/opus-mt-tl-en
